.cascading-right {
	margin-right: -50px;
}

@media (max-width: 991.98px) {
	.cascading-right {
		margin-right: 0;
	}
}

.background{
	background-image: url("../../../../assets/Minimalism-art-picture-city-skyscrapers-8-bit-pixels_1920x1080.jpg");
	height: 100%;
}

.caja-login{
	margin-right: 1%;
	padding-top: -12%;
	display: block;
}