.gradient-custom {
    /* fallback for old browsers */
    background: #f1efef;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom right, rgb(25, 185, 145), rgb(0, 0, 0));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom right, rgb(233, 231, 229), rgb(4, 0, 5))
    }
    
    .mask-custom {
    background: rgba(24, 24, 16, .2);
    border-radius: 2em;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
    }

    #ej{
        height: 400px;
        width: 900px;
        overflow-y: scroll;
        margin-right: -100%;
      }